%tr
  %td= payment.created_at
  %td= payment.updated_at
  %td= "#{payment.amount} zł"
  %td
    = link_to edit_student_payment_path(student_id: student, id: payment), { title: t('shared.edit') } do
      %button.btn.btn-default
        = fa_icon "edit"
    = link_to student_payment_path(student_id: student, id: payment), { method: :delete, title: t('shared.delete') } do
      %button.btn.btn-default
        = fa_icon "times"
